<% include partials/header.ejs%>

      <div class="content">
        <div class="header bg-white pb-8 pt-5 pt-md-8">
          
          <div class="container">
            <% if(false){ %>
              <div class="text-center">
                <div class="container">
                  <!-- <div class="card shadow py-5" style="width: 1200px; height:1200px"> -->
                  <div class="card shadow py-5">
                    <h1>No auctions yet</h1>
                  </div>
                </div>
              </div>
            <% } else{ %>
              <div class="row">
                <% for(let i = 0; i < 2; i++) { %>
                  <div class="col-md-4 p-2">
                    <div class="card bg-white" style="width: 20rem; height:400px; max-height:450px; min-height:450px">
                      <img class="card-img-top" src="https://blog.architizer.com/wp-content/uploads/111W57__Symmetry_Hrero__FINAL_.0.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h2 class="card-title">Steinway Tower</h2>
                        <span id="propertyAddress"></span>
                        <p>
                          <img src="../assets/img/icons/pin.png" class="img-fluid" alt="Responsive image" width="13px">&nbsp;
                          5th Avenue
                        </p>
                        <h1 style="color:#000099">$50,000,000</h1>
                        <a href="#" class="btn btn-success">See auction</a>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>
            <% } %>
          <!-- Container -> end-->
          </div>
          
        </div>
      </div>
    
    <script src="../javascripts/auctions.js"></script>

<% include partials/footer.ejs %>