<% include partials/header.ejs%>

      <div class="content">
        <div class="header bg-white pb-8 pt-5 pt-md-8">
          <div class="container-fluid">
            <!-- Table-->
            <div class="row">
              <div class="col">
                <div class="card shadow">
                  <div id="investments">
                    <div class="card-header border-0">
                      <h1 class="mb-0">My Investments</h1>
                    </div>
                    <div class="table-responsive">
                      <table class="table align-items-center table-flush" id="investmentsTable">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Property name (symbol)</th>
                            <th scope="col">Total Supply</th>
                            <th scope="col">My Balance</th>
                            <th scope="col">Tokens Left</th>
                            <th scope="col">Token Address</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- Container -> end-->
          </div>
        </div>
        <br>
      </div>

    <!-- Modal -->
    <div class="modal fade" id="auctionPurchaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel2">Add auction</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <br>
          <!--
          <div class="container">
            <table class="table align-items-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Total supply</th>
                  <th scope="col">Tokens left</th>
                  <th scope="col">My balance</th>
                  <th scope="col">ejs token price</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td><span id="totalSupply_2-2"></td>
                  <td><span id="tokensLeft_2-2"></td>
                  <td><span id="myBalance_2-2"></td>
                  <td>0.01 ETH</td>
                </tr>
            </table>
          </div>
          -->
          <div class="text-center balance">
            <h3>
              Your balance: <span id="my-balance"></span>
            </h3>
          </div>


          <div class="modal-body i-group">
            <p class="auction-label">Amount of tokens: <span id="ethBalance-2"></span></p>
            <input class="form-control" type="number" id="auctionAmount" name="propertyImage" placeholder="Amount of tokens to auction..." required>
          </div>
          <div class="modal-body i-group">
            <p class="auction-label">Price: <span id="ethBalance-2"></span></p>
            <input class="form-control" type="number" id="auctionPrice" name="propertyImage" placeholder="Price per token..." required>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="createAuction()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- End of div main-content  -->
    </div>

    <script src="../javascripts/investments.js"></script>

<% include partials/footer.ejs %>